extends layout

block content

  .home
    h1 Miso Tracker
    p A collection of different trackers built specifically for various decks. Made by 
      a(href="https://clg.name") Cody G
      |  — I also make 
      a(href="https://misotoken.com") tokens
      | .
    p You can install a tracker on your phone as a web app. On iOS tap the Share icon > Add to Home Screen. On Android tap the More icon > Add to home screen > Install.
    p
      a(href="/altar") Altar Tron
    p
      a(href="/altar-lifeless") Altar Tron (lifeless)
    p
      a(href="/kiln") Kiln Fiend (RIP)
