extends layout

block content

  body
    .home
      h1 Miso Tracker 😼
      p A collection of different trackers built for specific decks. Made by 
        a(href="https://clg.name") Cody&nbsp;G
        |  — I also make 
        a(href="https://misotoken.com") tokens for MtG
        | .
      hr
      h2 Trackers
      p
        a(href="/altar") Altar Tron
      p
        a(href="/altar-lifeless") Altar Tron (excluding life counters)
      p
        a(href="/kiln") Kiln Fiend (deprecated)
      hr
      h2 Installing on your phone
      p You can install a tracker on your phone as a web app. On iOS tap the Share icon > Add to Home Screen. On Android tap the More icon > Add to home screen > Install.
      hr
      h2 Open source on Github
      p You can find the repo 
        a(href="https://github.com/codylg/misotracker") here
        | .
