extends layout

block append variables
  - var title = "Altar Tron Tracker for Magic: The Gathering"
  - var appTitle = "Altar Tron"
  - var description = "A custom tracker to assist tracking information when playing Altar Tron"
  - var slug = "altar"
  - var card = "altar/card-tracker-altar.png"
  - var frontPage = false
  - var fullScreenPage = true

block headExtra
  link(rel="apple-touch-icon", href="/altar/icon-tracker-altar.png")

block viewport
  meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")

block content

  body.tracker
    div.mtg-counter(ontouchstart="")
      div.counter-group.control-group
        div.card
          button#new-game(onpointerdown="newGame()") New Game
        div.card
          button(onpointerdown="emptyManaPool()") Empty Mana Pool
      div.counter-group
        div.counter.card#opponent
          h1 Opponent
          input#number1.life(type="number", inputmode="numeric", value="20", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(1)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(1)", onpointerup="buttonRelease()") −
        div.counter.card#player
          h1 Self
          input#number2.life(type="number", inputmode="numeric", value="20", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(2)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(2)", onpointerup="buttonRelease()") −
        div.counter.card#storm
          h1 Storm
          input#number11.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(11)", onpointerup="buttonRelease()") +
          button.reset(onpointerdown="resetNumber(11)", onpointerup="buttonRelease()") ↺
      div.counter-group#mana-pool
        div.counter.card.mana-count#colourless
          img.mana-symbol(src="/C.png" alt="Colourless mana symbol")
          input#number3.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(3)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(3)", onpointerup="buttonRelease()") −
        div.counter.card.mana-count#black
          img.mana-symbol(src="/B.png" alt="Black mana symbol")
          input#number4.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(4)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(4)", onpointerup="buttonRelease()") −
        div.counter.card.mana-count#red
          img.mana-symbol(src="/R.png" alt="Red mana symbol")
          input#number5.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(5)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(5)", onpointerup="buttonRelease()") −
        div.counter.card.mana-count#green
          img.mana-symbol(src="/G.png" alt="Green mana symbol")
          input#number6.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(6)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(6)", onpointerup="buttonRelease()") −
      div.counter-group
        div.counter.card.golem-foundry#foundry1
          h1 Foundry 1
          input#number7.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(7)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(7, 3)", onpointerup="buttonRelease()") −3
        div.counter.card.golem-foundry#foundry2
          h1 Foundry 2
          input#number8.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(8)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(8, 3)", onpointerup="buttonRelease()") −3
        div.counter.card.golem-foundry#foundry3
          h1 Foundry 3
          input#number9.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(9)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(9, 3)", onpointerup="buttonRelease()") −3
        div.counter.card.golem-foundry#foundry4
          h1 Foundry 4
          input#number10.empty(type="number", inputmode="numeric", value="0", placeholder="🧙")
          button.increase(onpointerdown="increaseNumber(10)", onpointerup="buttonRelease()") +
          button.decrease(onpointerdown="decreaseNumber(10, 3)", onpointerup="buttonRelease()") −3

    script(type="text/javascript", src="/tracker.js")
